body {
    background-color: #073629;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    color:white;
}
form{
    width:350px;
    text-align: center;   
    margin:21% 35%;
    padding: 4px 4px;
    font-size: 55px;
    background-color: #073629;
}
button{
    font-size: large;
    background-color: #3e7b59;
    width:129%;
    height:50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px black;
}
span{
    display: block;
    font-size: 15px;
    color:red;
    text-align:center;
    width:125%;
}
input{
    display: block;
    font-size: 35px;
    background-color: rgb(193, 220, 198);
    margin:3%;
    border: 3px rgb(31, 35, 32) solid;
}
div{
    text-align: center;
}