body{
    background-color:#21a280;
}
form {
    background: #fff;
    padding: 60px 60px 30px;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 16px #222;
    border-radius: 3px;
}
#buttonDiv{
    display: block;
    text-align: right;
}
#logoutButton{
    background-color: #ff0000;
    color:#fff;
    text-align: center;
    border-radius: 5px;
}

.form-container input[type="file"] {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-container button {
    display: inline-block;
    padding: 5px 20px;
    background-color: #21a280;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container .result {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.container{
    display: inline-block;
    margin-right: 20px;
}

.result-popup {
    background-color: #fff;
    width: 300px;
    max-width: 90%;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  .result-popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .result-popup h3 {
    margin-top: 0;
  }


  table {
      width: 100%;
      border-collapse: collapse;
  }
  
  th, td {
      padding: 10px;
      text-align: left;
  }
  
  thead {
      background-color: #f2f2f2;
  }
  
  th {
      font-weight: bold;
  }
  
  tr:nth-child(even) {
      background-color: #f9f9f9;
  }
  
  tr:hover {
      background-color: #ebebeb;
  }


#delete-button {
      background-color: #ff0000; /* Background color */
      color: #ffffff; /* Text color */
      border: none; /* Remove border */
      padding: 8px 16px; /* Padding around the button */
      font-size: 14px; /* Font size */
      border-radius: 5px; /* Rounded corners */
      cursor: pointer; /* Show pointer cursor on hover */
      float:right;
}

    /* Hover effect */
#delete-button:hover {
      background-color: #cc0000; /* Change background color on hover */
}


  