body{
  background: #82be8d; 
}
form {
  background: #ccf1d9; 
    padding: 60px 60px 30px;
    max-width: 400px;
    margin: 10px auto 0;
    box-shadow: 0 0 16px #222;
    border-radius: 3px;
}
#buttonDiv{
    display: block;
    text-align: right;
}
#logoutButton{
    background-color: #ff0000;
    color:#fff;
    text-align: center;
    border-radius: 5px;
}

#logoutButton:hover{
  background-color: #960303;
}

.form-container input[type="file"] {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-container button {
    display: inline-block;
    padding: 5px 20px;
    background-color: #21a280;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container .result {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.container{
    display: inline-block;
    margin-right: 20px;
}

.result-popup {
    background-color: #fff;
    width: 300px;
    max-width: 90%;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  .result-popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .result-popup h3 {
    margin-top: 0;
  }


  table {
      width: 100%;
      border-collapse: collapse;
  }
  
  th, td {
      padding: 10px;
      text-align: left;
  }
  
  thead {
      background-color: #f2f2f2;
  }
  
  th {
      font-weight: bold;
  }
  
  tr:nth-child(even) {
      background-color: #f9f9f9;
  }
  
  tr:hover {
      background-color: #ebebeb;
  }

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px; 
  }


#delete-button {
      background-color: #ff0000; /* Background color */
      color: #ffffff; /* Text color */
      border: none; /* Remove border */
      padding: 8px 16px; /* Padding around the button */
      font-size: 14px; /* Font size */
      border-radius: 5px; /* Rounded corners */
      cursor: pointer; /* Show pointer cursor on hover */
      float:right;
}

    /* Hover effect */
#delete-button:hover {
      background-color: #cc0000; /* Change background color on hover */
}

#share-button {
    background-color: #4d92c0;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    float:right;
  }
  
  #share-button:hover, #share-button:focus {
    background-color: #0c71b5;
  }

  #noSelected {
    padding: 5px;
    margin-right: auto;
  }
  
 p{
  margin-top:10px;
  font-size: 300%;
  /* font-weight: bold; */
 }

 a{
  color:black;
  text-decoration: none;
 }
 a:link, a:visited, a:hover{
  color:black;
 }
 button{
  margin:3px;
  font-size: 15px;
  border: none; /* Remove border */
  padding: 8px 16px;
  cursor:pointer;
 }
