body{
  background:  #09694e;
}
form {
  background: #ccf1d9; 
    padding: 60px 60px 30px;
    max-width: 400px;
    margin: 20px auto 0;
    box-shadow: 0 0 16px #222;
    border-radius: 3px;
    margin-bottom: 60px;
}
#buttonDiv{
    display: block;
    text-align: right;
}
#logoutButton{
    background-color: #d7263dde;
    color:#fff;
    text-align: center;
    border-radius: 5px;
}

#logoutButton:hover{
  background-color: #8d1b1b;
}

.form-container input[type="file"] {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}

#textCheckAll {
  color:white;
  font-size: 17px;
}
#checkAll {
  width: 17px;
  height: 17px;
}

.form-container button {
    display: inline-block;
    padding: 5px 20px;
    background-color: #156d52;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container .result {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.container{
    display: inline-block;
    margin-right: 20px;
}

  table {
      width: 100%;
      border-collapse: collapse;
      background-color:#0e966d; ;
  }
  
  th, td {
      padding: 10px;
      text-align: left;
  }
  
  thead {
      background-color: #f2f2f2;
  }
  
  th {
      font-weight: bold;
  }
  
  tr:nth-child(even) {
      background-color: #f9f9f9;
  }
  
  tr:hover {
      background-color: #b6c8c0;
  }

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px; 
  }


#delete-button {
      background-color:#d7263dde; /* Background color */
      color: #ffffff; /* Text color */
      border: none; /* Remove border */
      padding: 8px 16px; /* Padding around the button */
      font-size: 15px; /* Font size */
      border-radius: 5px; /* Rounded corners */
      cursor: pointer; /* Show pointer cursor on hover */
      float:right;
}

    /* Hover effect */
#delete-button:hover {
      background-color: #920000; /* Change background color on hover */
}

#share-button {
    background-color: #31b793;
    color: white;
    padding: 8px 16px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    float:right;
  }
  
  #share-button:hover, #share-button:focus {
    background-color:#1c7a74;
  }

  #noSelected {
    padding: 5px;
    margin-right: auto;
    color: white;
  }
  
 p{
  margin-top:10px;
  font-size: 300%;
  color:#ffffff;
  /* font-weight: bold; */
 }

 .close-button {
  background-color: #b91212;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
}
.close-button:hover, .close-button:focus {
  background-color: #630000;
}
h2 {
  font-size: 300%;
  color:#ffffff;
/* font-weight: bold; */
}

a{
  color:black;
  text-decoration: none;
}

a:link, a:visited, a:hover{
  color:black;
}

button{
  margin:3px;
  font-size: 15px;
  border: none; /* Remove border */
  padding: 8px 16px;
  cursor:pointer;
}

h1 {
  font-size: 200%;
  color:#ffffff;
  /* font-weight: bold; */
}

#userInfo{
  margin-top: 0px;
  margin-left:20px;
  margin-bottom:0px;
}
