body{
    text-align: center;
    background-image: url("backgroundphoto.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-color: #073629;
    margin-top: 23%;
    margin-bottom: 23%;
    color:white;
    font-size: 175%;
    overflow:hidden;
}
a{
    text-decoration: none;
    margin-top: 0%;
}
a:hover, a:link, a:visited{
    color:black;
}
button{
    font-size: large;
    background-color: rgb(245, 129, 12);
    margin-top: 0%;
    border-radius: 10px;
}
h6{
    margin-bottom: 0%;
}
