body{
    background-color:#b3dfc7;
    overflow: hidden;
}
#registerForm{
    width:215px;
    display: block;
    text-align: center;   
    margin:21% auto;
    padding: 16px 16px;
    font-size: 25px;
    border:#29553d solid 1px;
}
.full-width{
    width:100%;
}
input,select{
    border:#adb9ad solid 1.5px;
}
button{
    background-color: #95b7a4;
    color:#29553d;
    border:#adb9ad solid 1.5px;
}
#selectBar{
    width:103%;
}
button:hover{
    background-color: #0ab758;
    color:#ffffff;
}
input:hover,select:hover{
    border: #20860e solid 1.5px;
}